@font-face {
    font-family: 'LCD Normal';
    font-style: normal;
    font-weight: normal;
    src: local('LCD Normal'), url('./font/LCD-N___.woff') format('woff');
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orange-btn{
    background-color: rgba(255, 166, 0, 0.767) !important;
    font-size: 2rem !important;
}

.orange-btn:hover {
    background-color: rgb(250, 190, 78) !important;
}

.wide-btn {
    grid-area: 5 / 1 / 6 / 3;
    width: 100% !important;
    border-radius: 4rem !important;
}

.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.calculator-container{
    margin: auto;
    width: 23rem;
    height: 33rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(24, 2, 39, 0.24);
    backdrop-filter: blur(20px);
}

.buttons{
    display: grid;
    place-items: center;
    gap: 0.4rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 2rem;
    
}

.buttons button{
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    background: rgba(63, 19, 80, 0.678);
    color: #fff;
    box-shadow: 2px 2px 5px 0 hsla(0, 0%, 0%, .75);
    backdrop-filter: blur(20px);
  outline: none;
  transition: 1s ease-in-out;
}

.buttons button:hover {
    background-color: rgba(116, 56, 139, 0.678);
    transition: ease-in-out 200ms;
    
}

.buttons button:hover svg{
    stroke-dashoffset: -480;
}   

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }

.light-btn{
    background-color: rgba(218, 218, 218, 0.678) !important;
    color: rgb(73, 73, 73) !important;
}

.light-btn:hover{
    background-color: rgb(243, 243, 243) !important;
}

.result-screen{
    background-color: rgba(40, 192, 26, 0.815);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px inset, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px inset;
    font-size: 3rem;
    text-align: right;
    padding: 0.8rem;
    color: #222;
    width: 100%;
    font-family: 'LCD Normal';
    font-style: normal;
    font-weight: normal;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }